/* shadow DOM styles */
:host {
  font-family: sans-serif;
}

#gamificationNavigation {
  width: 140px;
}

#gamificationNavigation a {

  display: block;
  float: left;

  margin: 3px 10px;
  padding: 12px;
  width: 130px;

  border: 2px solid #0a670d;
  border-radius: 6px;

  text-align: center;
  font-size: 13pt;
  color: black;
}

#gamificationNavigation a:hover {

  text-decoration: none;
  font-weight: bold;
  background-color: #EBF4EB;
}

.gamificationTab {
  display: none;
  margin-left: 150px;
  padding: 5px;
}

.gamificationDefaultTab {
  display: block;
}

.gamificationDefaultTabNav
{
  font-weight: bold;
}

.gamificationTab h1
{
  font-size: 20pt;
  margin-top: 0;
}

.left
{
  float: left;
  margin: 12px;
}

.right
{
  float: right;
  margin: 12px;
}