/* shadow DOM styles */
:host
{
    font-family: sans-serif;
}

#gamificationNavigation
{
    width: 140px;
}

#gamificationNavigation a {
    display: block;
    float: left;

    margin: 3px 10px;
    padding: 10px;
    width: 130px;

    border: 2px solid #447500;
    border-radius: 10px;

    text-align: center;
    font-size: 13pt;
    color: black;
}

#gamificationNavigation a:hover
{
    text-decoration: none;
    font-weight: bold;
}

.gamificationTab
{
    display: none;
    margin-left: 170px;
    padding: 5px;
    overflow: hidden;
}

.gamificationTab h1
{
    font-size: 20pt;
    margin-top: 0;
}

#loadingInfo
{
    display: block;
}

.gamificationTab div
{
    margin-bottom: 10px;
    border: 1px solid #bfbfbf;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.gamificationTab div img
{
    float: left;
    margin-right: 15px;
    max-width: 100px;
}

.gamificationTab .fieldTitle
{
    font-weight: bold;
    margin-bottom: 5px;
}

.gamificationTab h4
{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.gamificationTab p
{
    margin: 0;
}

#achievements, #quests, #badges
{
    border: none;
    padding: 0;
}

.gamificationTab #quests table
{
    margin: 15px 0;
    width: 100%;
    font-size: 14px;
}

.gamificationTab #quests table th
 {
     text-align: left;
 }

.gamificationTab #leaderboard
{
    width: 100%;
    border: 1px solid #6d6d6d;
    border-collapse: collapse;
    text-align: center;
}

.gamificationTab #leaderboard th
{
    border-bottom: 1px solid #6d6d6d;
}

.gamificationTab #leaderboard td, .gamificationTab #leaderboard th
{
    padding: 3px;
}

.left
{
    float: left;
    margin: 12px;
}

.right
{
    float: right;
    margin: 12px;
}